@use "variables" as *;
@use "mixin" as *;
/*Base*/
.section {
  @include display-flex;
  padding: 68px 0px;
  margin: 0 32px;
  @include responsive(mobile) {
    padding: 34px 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1090px;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  @include responsive(mobile) {
    flex-direction: column;
  }
}

.reverse {
  flex-direction: row-reverse;
  @include responsive(mobile) {
    flex-direction: column;
  }
}

.btn {
  @include green;
  &:hover {
    opacity: 0.8;
  }
}

.btn-secondary {
  @include green;
  background-color: $deep-gold;
  &:hover {
    opacity: 0.7;
  }
}

.title {
  @include type-01;
  @include responsive(mobile) {
    font-size: 42px;
    line-height: 46px;
  }
}

.subtitle {
  @include type-02;
  margin-bottom: 8px;
  @include responsive(mobile) {
    font-size: 32px;
    line-height: 28px;
  }
}

.paragraph {
  @include type-03;
  max-width: 40ch;
  @include responsive(mobile) {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }
}

.m-y {
  margin: 42px 0;
  @include responsive(mobile) {
    margin: 20px 0;
  }
}

.divider {
  background-color: $soft-gold;
  padding: 80px;
  @include responsive(tablet) {
    padding: 32px;
  }
  text-align: center;
  h2 {
    max-width: 25ch;
    margin: 0 auto;
  }
}
/*end Base*/
