@use "variables" as *;
@use "mixin" as *;

.section {
  @include display-flex;
  padding: 68px 0px;
  margin: 0 32px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1090px;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
}

.reverse {
  flex-direction: row-reverse;
}

.btn {
  @include green;
  &:hover {
    opacity: 0.8;
  }
}

.btn-secondary {
  @include green;
  background-color: $deep-gold;
  &:hover {
    opacity: 0.7;
  }
}

.title {
  @include type-01;
}

.subtitle {
  @include type-02;
  margin-bottom: 8px;
}

.paragraph {
  @include type-03;
  max-width: 40ch;
}

.m-y {
  margin: 42px 0;
}

.divider {
  background-color: $soft-gold;
  padding: 80px;
  text-align: center;
  h2 {
    max-width: 25ch;
    margin: 0 auto;
  }
}
