@use "variables" as *;
@use "mixin" as *;
/*Base*/
.section {
  @include display-flex;
  padding: 6.8rem 0px;
  margin: 0 3.2rem;
  @include responsive(mobile) {
    padding: 3.4rem 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 109rem;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5.8rem;
  @include responsive(mobile) {
    flex-direction: column;
  }
}

.reverse {
  flex-direction: row-reverse;
  @include responsive(mobile) {
    flex-direction: column;
  }
}

.btn {
  @include green;
  &:hover {
    opacity: 0.8;
  }
}

.btn-secondary {
  @include green;
  background-color: $deep-gold;
  &:hover {
    opacity: 0.7;
  }
}

.title {
  @include type-01;
  @include responsive(mobile) {
    font-size: 4.2rem;
    line-height: 4.6rem;
  }
}

.subtitle {
  @include type-02;
  margin-bottom: 0.8rem;
  @include responsive(mobile) {
    font-size: 3.2rem;
    line-height: 2.8rem;
  }
}

.paragraph {
  @include type-03;
  max-width: 40ch;
  @include responsive(mobile) {
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

.m-y {
  margin: 4.2rem 0;
  @include responsive(mobile) {
    margin: 2rem 0;
  }
}

.divider {
  background-color: $soft-gold;
  padding: 8rem;
  @include responsive(tablet) {
    padding: 3.2rem;
  }
  text-align: center;
  h2 {
    max-width: 25ch;
    margin: 0 auto;
  }
}
/*end Base*/
