@use "variables" as *;

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 0px;
  margin: 0 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  width: 100%;
  max-width: 1090px;
}

.reverse {
  flex-direction: row-reverse;
}

.btn {
  color: #fff;
  background-color: $light-green;
  width: 270px;
  text-align: center;
  padding: 28px 72px;
}

.hero-title {
  font-size: 86px;
  font-weight: 700;
  line-height: 104px;
  color: $black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #242222;
  font-weight: 700;
  padding: 28px 0;
  margin: 38px 0;
  position: relative;
  text-align: center;
}

.paragraph {
  font-size: 24px;
  color: #686b68;
  line-height: 36px;
  font-weight: 400px;
  text-align: left;
}
