@use "variables" as *;
@use "mixin" as *;

.contact {
  display: flex;
  @include responsive(tablet) {
    flex-direction: column;
  }
  &-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $light-gold;
    padding: 0 3.2rem;
    height: 65vh;
    @include responsive(tablet) {
      padding: 3.2rem;
    }
    .title {
      max-width: 14ch;
    }
  }
  &-cover {
    flex: 1;
    width: 100%;
    background-image: url("../images/woman-smile.png");
    background-size: cover;
  }
}
