@use "mixin" as *;
@use "variables" as *;

.feedback {
  &__content {
    flex: 1;
  }
  &__image {
    flex: 1;
    img {
      border-radius: 1.8rem;
    }
  }
}

.person {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.person img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 0.3rem $light-green;
}

.person h3,
.person p {
  font-family: $secondary-text;
  color: $soft-gray;
  font-size: 1.6rem;
}

.person h3 {
  margin-bottom: 0.6rem;
}

.arrows {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.arrows span {
  display: flex;
  place-content: center;
  background-color: #d9d9d9;
  padding: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: ease-in 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.arrows span:first-child {
  transform: rotate(180deg);
}

.quotes img {
  margin-bottom: 3rem;
}
