@use "mixin" as *;
@use "variables" as *;

.footer {
  @include display-flex;
  background-color: $deep-green;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1309px;
    width: 100%;
    padding: 116px 32px;
    @include responsive(tablet) {
      flex-direction: column;
      gap: 32px;
      padding: 78px 32px;
    }
    @include responsive(mobile) {
      flex-direction: column;
      gap: 32px;
    }
  }
  &-logo img {
    width: 219px;
    margin-bottom: 18px;
  }
  p,
  &-copy p {
    @include type-03;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  &-item {
    @include type-03;
    color: white;
    font-weight: 300;
    font-size: 16px;
    flex: 1;
    li:first-child {
      font-size: 20px;
      font-weight: 700;
    }
  }
  &-item p {
    max-width: 30ch;
    line-height: 22px;
    margin-bottom: 20px;
  }
  &-logo {
    flex: 1;
  }
  &-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-wrap: wrap;
    @include responsive(mobile) {
      gap: 32px;
    }
    @include responsive(mobile) {
      flex-direction: column;
    }
  }
}

.input-group {
  display: flex;
  align-items: center;
  .input {
    width: 100%;
    padding: 16px 12px;
    width: 100%;
    background-color: #fff;
    color: $soft-gray;
    border: transparent;
    &:focus {
      outline: 2px solid $deep-gold;
    }
  }

  .button {
    background-color: $deep-gold;
    width: 170px;
    padding: 16px 12px;
    border: none;
    color: $light-gold;
    cursor: pointer;
    transition: ease 0.3s;
    &:hover {
      opacity: 0.9;
      color: $soft-gold;
    }
  }
}

.footer-copy {
  @include display-flex;
  background-color: $light-green;
  a {
    color: $deep-gold;
    font-weight: 700;
    &:hover {
      color: #fff;
    }
  }
}

.copy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px;
  max-width: 1300px;
  width: 100%;
  @include responsive(mobile) {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }
  .social {
    display: flex;
    gap: 15px;
    & svg {
      fill: #fff;
      &:hover {
        fill: $deep-green;
      }
    }
  }
}
