@use "variables" as *;
@use "mixin" as *;

.header {
  display: flex;
  align-items: center;
  max-width: 1309px;
  width: 100%;
  justify-content: space-between;
  padding: 38px 32px;
  // position: relative;
  margin: 0 auto;
}

.brand {
  width: 219px;
}

.menu {
}

.navbar {
  display: flex;
  align-items: center;
  gap: 28px;
  a:not(.btn-secondary) {
    font-family: $secondary-text;
    color: $black;
    font-size: 24px;
    font-weight: 400;
    &:hover {
      color: $deep-gold;
    }
  }
  .btn-secondary {
    padding: 20px 0px;
    width: 202px;
  }
}

.menu-mobile {
}
