@use "variables" as *;
@use "mixin" as *;
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1309px;
  width: 100%;
  padding: 38px 32px;
  margin: 0 auto;
  @include responsive(tablet) {
    justify-content: center;
    gap: 32px;
    flex-direction: column;
  }
  @include responsive(mobile) {
    .navbar {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      padding: 32px;
    }
  }
  .brand {
    width: 219px;
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 28px;
    @include responsive(mobile) {
      gap: 16px;
      padding: 16px;
    }
    a:not(.btn-secondary) {
      font-family: $secondary-text;
      color: $black;
      font-size: 24px;
      font-weight: 400;
      padding: 16px 0;
      display: inline-block;
      &:hover {
        color: $deep-gold;
      }
    }
    .btn-secondary {
      padding: 20px 0px;
      width: 202px;
    }
  }
}
/*end Header*/
