@use "mixin" as *;
@use "variables" as *;
/*Hero*/
.hero {
  background: url("../images/hero-cover.png");
  background-size: cover;
  background-position: center;
  h1 {
    @include type-01;
    max-width: 50ch;
    font-size: 96px;
    line-height: 90px;
    @include responsive(tablet) {
      text-align: center;
    }
    @include responsive(mobile) {
      font-size: 54px;
      line-height: 52px;
    }
  }
  &:after {
    content: "";
    width: 280px;
    height: 350px;
    display: block;
    position: absolute;
    background-image: url("../images/ellipse-gold.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
  .hero-content {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 68px;
    @include responsive(tablet) {
      align-items: center;
    }
  }
}
/*end Hero*/
