@use "mixin" as *;
@use "variables" as *;

.hero {
  background: url("/public/assets/images/hero-cover.png");
  background-size: cover;
  h1 {
    @include type-01;
    max-width: 50ch;
    font-size: 96px;
    line-height: 90px;
  }
  &:after {
    content: "";
    width: 280px;
    height: 350px;
    display: block;
    position: absolute;
    background-image: url("/public/assets/images/ellipse-gold.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
}

.hero-content {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 68px;
}
