@use "mixin" as *;
@use "variables" as *;

.location {
  &__content {
    flex: 1;
    @include responsive(mobile) {
      align-items: center;
      text-align: center;
    }
  }
  &__image {
    flex: 1;
  }
}
