@use "variables" as *;

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin type-01 {
  font-family: $primary-text;
  color: $black;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 6.4rem;
}

@mixin type-02 {
  font-family: $secondary-text;
  color: $light-green;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
}

@mixin type-03 {
  font-family: $secondary-text;
  color: $soft-gray;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.7rem;
}

@mixin green {
  font-family: $secondary-text;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  background-color: $light-green;
  width: 26rem;
  text-align: center;
  padding: 2.8rem 0rem;
  cursor: pointer;
  transition: ease-in 0.3s;
}

@mixin responsive($device) {
  @if $device == desktop {
    @media (max-width: 1120px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $device == mobile {
    @media (max-width: 750px) {
      @content;
    }
  }
}
