@use "variables" as *;

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin type-01 {
  font-family: $primary-text;
  color: $black;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

@mixin type-02 {
  font-family: $secondary-text;
  color: $light-green;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

@mixin type-03 {
  font-family: $secondary-text;
  color: $soft-gray;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
}

@mixin green {
  font-family: $secondary-text;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: $light-green;
  width: 260px;
  text-align: center;
  padding: 28px 0px;
  cursor: pointer;
  transition: ease-in 0.3s;
}

@mixin responsive($device) {
  @if $device == desktop {
    @media (max-width: 1120px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $device == mobile {
    @media (max-width: 750px) {
      @content;
    }
  }
}
