@use "mixin" as *;
/*Rooms*/
.rooms {
  display: flex;
  img {
    border-radius: 18px;
  }
  &-image {
    display: flex;
    flex-direction: column;
    gap: 38px;
    flex: 1;
    &__list {
      flex: 1;
    }
    &__thumbs {
      display: flex;
      gap: 10px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include responsive(mobile) {
      align-items: center;
      text-align: center;
    }
  }
}
/*end Rooms*/
