@use "variables" as *;
/* Services */
.services {
  .wrap-content {
    gap: 0;
  }
  .wrap-content img {
    flex: 1;
    object-fit: cover;
    align-self: center;
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-content__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 22px 0px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
    }
    p {
      font-family: $secondary-text;
      color: $soft-gray;
    }
  }
}
