@use "variables" as *;
@use "mixin" as *;
/* Services */
.services {
  .wrap-content {
    gap: 0;
    @include responsive(tablet) {
      justify-content: center;
      gap: 3.2rem;
    }
    & img {
      flex: 0 1 30rem;
      object-fit: cover;
    }
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(mobile) {
      margin-top: 3.2rem;
      align-items: center;
      text-align: center;
    }
  }
  &-content__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.2rem 0rem;
    @include responsive(mobile) {
      margin-top: 3.2rem;
      width: 100%;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.2rem;
    }
    p {
      font-family: $secondary-text;
      color: $soft-gray;
    }
  }
}
