//colors
$light-green: #01957d;
$deep-green: #00352d;
$deep-gold: #c2b791;
$light-gold: rgba(185, 173, 129, 0.29);
$soft-gold: #e5e8e0;
$soft-gray: #5d6f6b;
$black: #1d1b1b;

$primary-text: "Aleo", serif;
$secondary-text: "Inter", sans-serif;
