* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 0px;
  margin: 0 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  width: 100%;
  max-width: 1090px;
}

.wrap-content {
  display: flex;
  gap: 28px;
}

.reverse {
  flex-direction: row-reverse;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: #01957d;
  width: 260px;
  text-align: center;
  padding: 28px 0px;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.btn:hover {
  opacity: 0.8;
}

.btn-secondary {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: #01957d;
  width: 260px;
  text-align: center;
  padding: 28px 0px;
  cursor: pointer;
  transition: ease-in 0.3s;
  background-color: #c2b791;
}
.btn-secondary:hover {
  opacity: 0.7;
}

.title {
  font-family: "Aleo", serif;
  color: #1d1b1b;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  color: #01957d;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.paragraph {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  max-width: 40ch;
}

.m-y {
  margin: 50px 0;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1309px;
  width: 100%;
  justify-content: space-between;
  padding: 28px 32px;
  margin: 0 auto;
}

.brand {
  width: 219px;
}

.navbar {
  display: flex;
  gap: 28px;
}

.hero {
  background: url("/public/assets/images/hero-cover.png");
  background-size: cover;
}
.hero h1 {
  font-family: "Aleo", serif;
  color: #1d1b1b;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  max-width: 50ch;
  font-size: 96px;
  line-height: 90px;
}
.hero:after {
  content: "";
  width: 280px;
  height: 350px;
  display: block;
  position: absolute;
  background-image: url("/public/assets/images/ellipse-gold.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.hero-content {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 68px;
}

/*Rooms*/
.rooms {
  display: flex;
  gap: 28px;
}
.rooms img {
  border-radius: 5px;
}
.rooms-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.rooms-image__list {
  flex: 1;
}
.rooms-image__thumbs {
  display: flex;
  gap: 10px;
}
.rooms-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*end Rooms*/
/* Services */
.services .wrap-content {
  gap: 0;
}
.services .wrap-content img {
  flex: 1;
  object-fit: cover;
  background-color: red;
  align-self: center;
}
.services-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-content__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 22px 0px;
}
.services-content__icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.services-content__icons p {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
}

/*# sourceMappingURL=styles.css.map */
