* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/*Base*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 0px;
  margin: 0 32px;
}
@media (max-width: 750px) {
  .section {
    padding: 34px 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1090px;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
}
@media (max-width: 750px) {
  .wrap-content {
    flex-direction: column;
  }
}

.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 750px) {
  .reverse {
    flex-direction: column;
  }
}

.btn {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: #01957d;
  width: 260px;
  text-align: center;
  padding: 28px 0px;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.btn:hover {
  opacity: 0.8;
}

.btn-secondary {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: #01957d;
  width: 260px;
  text-align: center;
  padding: 28px 0px;
  cursor: pointer;
  transition: ease-in 0.3s;
  background-color: #c2b791;
}
.btn-secondary:hover {
  opacity: 0.7;
}

.title {
  font-family: "Aleo", serif;
  color: #1d1b1b;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}
@media (max-width: 750px) {
  .title {
    font-size: 42px;
    line-height: 46px;
  }
}

.subtitle {
  font-family: "Inter", sans-serif;
  color: #01957d;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 8px;
}
@media (max-width: 750px) {
  .subtitle {
    font-size: 32px;
    line-height: 28px;
  }
}

.paragraph {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  max-width: 40ch;
}
@media (max-width: 750px) {
  .paragraph {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }
}

.m-y {
  margin: 42px 0;
}
@media (max-width: 750px) {
  .m-y {
    margin: 20px 0;
  }
}

.divider {
  background-color: #e5e8e0;
  padding: 80px;
  text-align: center;
}
@media (max-width: 960px) {
  .divider {
    padding: 32px;
  }
}
.divider h2 {
  max-width: 25ch;
  margin: 0 auto;
}

/*end Base*/
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1309px;
  width: 100%;
  padding: 38px 32px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .header {
    justify-content: center;
    gap: 32px;
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .header .navbar {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
  }
}
.header .brand {
  width: 219px;
}
.header .navbar {
  display: flex;
  align-items: center;
  gap: 28px;
}
@media (max-width: 750px) {
  .header .navbar {
    gap: 16px;
    padding: 16px;
  }
}
.header .navbar a:not(.btn-secondary) {
  font-family: "Inter", sans-serif;
  color: #1d1b1b;
  font-size: 24px;
  font-weight: 400;
  padding: 16px 0;
  display: inline-block;
}
.header .navbar a:not(.btn-secondary):hover {
  color: #00352d;
}
.header .navbar .btn-secondary {
  padding: 20px 0px;
  width: 202px;
}

/*end Header*/
/*Hero*/
.hero {
  background: url("../images/hero-cover.png");
  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-family: "Aleo", serif;
  color: #1d1b1b;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  max-width: 50ch;
  font-size: 96px;
  line-height: 90px;
}
@media (max-width: 960px) {
  .hero h1 {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .hero h1 {
    font-size: 54px;
    line-height: 52px;
  }
}
.hero:after {
  content: "";
  width: 280px;
  height: 350px;
  display: block;
  position: absolute;
  background-image: url("../images/ellipse-gold.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}
.hero .hero-content {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 68px;
}
@media (max-width: 960px) {
  .hero .hero-content {
    align-items: center;
  }
}

/*end Hero*/
/*Rooms*/
.rooms {
  display: flex;
}
.rooms img {
  border-radius: 18px;
}
.rooms-image {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex: 1;
}
.rooms-image__list {
  flex: 1;
}
.rooms-image__thumbs {
  display: flex;
  gap: 10px;
}
.rooms-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 750px) {
  .rooms-content {
    align-items: center;
    text-align: center;
  }
}

/*end Rooms*/
/* Services */
.services .wrap-content {
  gap: 0;
}
@media (max-width: 960px) {
  .services .wrap-content {
    justify-content: center;
    gap: 32px;
  }
}
.services .wrap-content img {
  flex: 0 1 300px;
  object-fit: cover;
}
.services-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  .services-content {
    margin-top: 32px;
    align-items: center;
    text-align: center;
  }
}
.services-content__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 22px 0px;
}
@media (max-width: 750px) {
  .services-content__icons {
    margin-top: 32px;
    width: 100%;
  }
}
.services-content__icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.services-content__icons p {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
}

.location__content {
  flex: 1;
}
@media (max-width: 750px) {
  .location__content {
    align-items: center;
    text-align: center;
  }
}
.location__image {
  flex: 1;
}

.events__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 750px) {
  .events__content {
    align-items: center;
    text-align: center;
  }
}
.events__image {
  flex: 1;
  object-fit: cover;
}
.events__image img {
  border-radius: 18px;
}

.contact {
  display: flex;
}
@media (max-width: 960px) {
  .contact {
    flex-direction: column;
  }
}
.contact-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ebe7da;
  padding: 0 32px;
  height: 65vh;
}
@media (max-width: 960px) {
  .contact-content {
    padding: 32px;
  }
}
.contact-content .title {
  max-width: 14ch;
}
.contact-cover {
  flex: 1;
  width: 100%;
  background-image: url("../images/woman-smile.png");
  background-size: cover;
}

.feedback__content {
  flex: 1;
}
.feedback__image {
  flex: 1;
}
.feedback__image img {
  border-radius: 18px;
}

.person {
  display: flex;
  align-items: center;
  gap: 38px;
}

.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #01957d;
}

.person h3,
.person p {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
}

.person h3 {
  margin-bottom: 6px;
}

.arrows {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 10px;
}

.arrows span {
  display: flex;
  place-content: center;
  background-color: #d9d9d9;
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: ease-in 0.3s;
}
.arrows span:hover {
  cursor: pointer;
  opacity: 0.6;
}

.arrows span:first-child {
  transform: rotate(180deg);
}

.quotes img {
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00352d;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1309px;
  width: 100%;
  padding: 116px 32px;
}
@media (max-width: 960px) {
  .footer-container {
    flex-direction: column;
    gap: 32px;
    padding: 78px 32px;
  }
}
@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    gap: 32px;
  }
}
.footer-logo img {
  width: 219px;
  margin-bottom: 18px;
}
.footer p, .footer-copy p {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.footer-item {
  font-family: "Inter", sans-serif;
  color: #5d6f6b;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  flex: 1;
}
.footer-item li:first-child {
  font-size: 20px;
  font-weight: 700;
}
.footer-item p {
  max-width: 30ch;
  line-height: 22px;
  margin-bottom: 20px;
}
.footer-logo {
  flex: 1;
}
.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 750px) {
  .footer-links {
    gap: 32px;
  }
}
@media (max-width: 750px) {
  .footer-links {
    flex-direction: column;
  }
}

.input-group {
  display: flex;
  align-items: center;
}
.input-group .input {
  width: 100%;
  padding: 16px 12px;
  width: 100%;
  background-color: #fff;
  color: #5d6f6b;
  border: transparent;
}
.input-group .input:focus {
  outline: 2px solid #c2b791;
}
.input-group .button {
  background-color: #c2b791;
  width: 170px;
  padding: 16px 12px;
  border: none;
  color: #ebe7da;
  cursor: pointer;
  transition: ease 0.3s;
}
.input-group .button:hover {
  opacity: 0.9;
  color: #e5e8e0;
}

.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01957d;
}
.footer-copy a {
  color: #c2b791;
  font-weight: 700;
}
.footer-copy a:hover {
  color: #fff;
}

.copy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px;
  max-width: 1300px;
  width: 100%;
}
@media (max-width: 750px) {
  .copy-container {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }
}
.copy-container .social {
  display: flex;
  gap: 15px;
}
.copy-container .social svg {
  fill: #fff;
}
.copy-container .social svg:hover {
  fill: #00352d;
}

/*# sourceMappingURL=styles.css.map */
